{% extends 'index.html' %}

{% load static %}

{% block content %}
    
    <main>
        <div class="subsidy-options">
            <article class="subsidy-card">
                <a href="pages/percentile.html">
                    <h2>Simulador de Percentiles</h2>
                    <p>Calcula tu percentil de ingreso y descubre a qué subsidios puedes optar.</p>
                </a>
            </article>
            <article class="subsidy-card">
                <a href="pages/subsidies.html">
                    <h2>Simulador de Subsidios</h2>
                    <p>Simula el crédito hipotecario con diferentes subsidios habitacionales.</p>
                </a>
            </article>
            <article class="subsidy-card">
                <a href="pages/no-subsidy.html">
                    <h2>Compra sin Subsidio</h2>
                    <p>Simula un crédito hipotecario sin aplicar subsidios.</p>
                </a>
            </article>
            <article class="subsidy-card">
                <a href="pages/max-value.html">
                    <h2>Valor Máximo de Casa</h2>
                    <p>Calcula el valor máximo de una vivienda según tu sueldo.</p>
                </a>
            </article>
        </div>
        <h5 style="text-align: center; display: block;">Aviso: La tasa de crédito anual está por defecto en un 5.1%, pero puede cambiarlo a una tasa mas actual según su banco. Favor de tenerlo en consideración para una simulación mas adecuada a su situación económica.</a>
    </main>
{% endblock %}
